<!-- main.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/static/css/product.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div id="user_id_placeholder" data-user-id="{{ user_id }}"></div>
    <div id="shop_id_placeholder" data-user-id="{{ shop_id }}"></div>

    <!-- Nav bar -->
    <nav>
        <div class="logo-group">
            <!-- <img src="../image/logo_300x300.png" alt="Logo Oreo" id="logo"> -->
            <h2 class="coala">COALA co.</h2>
        </div>
        <div>
            <ul class="nav-link">
                <li><a href="/">home</a></li>
                <li><a href="/select_chat_shop">shop</a></li>
                <li><a href="/add_shop">Your Shop</a></li>
                <li><a href="/edit_user_profile">Edit User Profile</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">support</a></li>
                {% if user_id %}
                <li id="sign-in"><a href="/logout">Logout</a></li>
                {% else %}
                <li id="sign-in"><a href="/login">sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Nav bar -->

    <div class="container">
        <div id="product-group">

        </div>
    </div>
    <div id="product-message"></div>
    <script src="/static/js/product.js"></script>
</body>

</html>