{% extends "nav.html" %}

{% block title %}
Product
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/product.css">
<div class="container">
    <div class="product">
        
        <div class="product-preview">
            <img src="/static/image/t-shirt.png" alt="T-shirt-Preview">
        </div>
    
        <!-- Product-info -->

        <div class="product-info open" id="product-info">
            <h1 class="product-name">Product Name</h1>
            <h2 class="shop-name">By Tanuson</h2>
            <h3 class="product-about">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor
                incididunt ut laboreUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo conDuis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatu
                Excepteur sint occaecat cupidatat non proident, sunt in
            </h3>
            <div class="tags">
                <span class="tag">Tags: </span>
                <div class="category-group">
                    <span class="category">V-shirt</span>
                    <span class="category">Short</span>
                    <span class="category">White</span>
                    <span class="category">Street Fasion</span>
                    <span class="category">Oversized</span>
                    <span class="category">Velvet</span>
                </div>
            </div>

        </div>
            <!-- Product-info -->
        <button type="button" id="add-btn">Add +</button>

    </div>
    <!-- Product  -->

<!-- Container -->
</div>

<script src="/static/js/product.js"></script>
{% endblock %}